.footer-section {
  background-color: #161619;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 317px;
  height: 64px;
  position: absolute;
  bottom: 0;
}

.footer-facebook, .footer-instagram{
    width: 25px;
    height: 25px;
}

.footer-facebook{
    margin-right: 24px;
}

.footer-anchor{
    width: 25px;
    height: 25px;
}
