.panel{
    background-color: #1A1B21;
    width: 317px;
    height: 780px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
}

.personal-photo{
    border-radius: 10px 10px 0px 0px;
    width: 317px;
    height: 317px;
}